html, body {
    height: auto;
}

main {
    position: relative;
    z-index: 1;
}

ul {
    ul {
        margin: 0;
    }
    li {
        list-style: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h2 {

    text-transform: uppercase;
}

iframe {
    max-width: 100%;
}

.block {
    display: block;
    width: 100%;
}

.button {
    font-weight: bold;
    text-transform: uppercase;
    min-width: 160px;
    text-decoration: none;
    @extend %last;
    i {
        font-size: 15px;
        margin-right: 7px;
        @extend %inline-middle;
    }
    &.block {
        max-width: none;
    }
    &.wide {
        width: 230px;
    }
    &.hollow {
        border-width: 3px;
        &:hover {
            background: $primary-color;
            color: $button-color;
        }
    }
    &.large {
        font-weight: bold;
        min-width: 240px;
    }
    &.white {
        background: $white;
        color: $active-color;
        span {
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -8px;
                border-bottom: 3px solid $active-color;
            }
        }
        &:hover {
            span:after {
                color: $button-background-hover;
                border-color: $button-background-hover;
            }
        }
    }
    &.secondary {
        background: #b3b3b3;
        &:hover {
            background: $medium-gray;
        }
    }
    &.thin {
        font-weight: normal;
        text-transform: none;
    }
    &.vk {
        background: #507299;
        &:hover {
            background: #415c7a;
        }
    }
    &.facebook {
        background: #3b5998;
        &:hover {
            background: #2f477a;
        }
    }
    &.vk,
    &.facebook {
        margin-bottom: 1em;
        span {
            @extend %inline-middle;
        }
    }
}

.focusout {
    color: $lighter-gray;
}

.important {
    color: #f24841;
}

.icon-honey {
    width: 63px;
    height: 33px;
    display: inline-block;
    background: url(../files/img/icon-honey.png);
}

.pagination {
    .fa {
        margin: 0 8px;
    }
    span {
        font-weight: bold;
    }
    a {
        color: $medium-gray;
        font-weight: bold;
        &:hover {
            color: $success-color;
        }
    }
    .unavailable {
        color: $lighter-gray;
    }
    .current {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 6px;
            right: 6px;
            bottom: 0;
            border-bottom: 1px solid $success-color;
        }
    }
    .arrow {
        font-weight: bold;
        margin: 0 rem-calc(40px);
    }
}

.dropdown-pane {
    left: -99999px;
}

.tags {
    font-size: 12px;
    margin-bottom: 19px;
    a {
        color: $lighter-gray;
        font-weight: normal;
        &:hover {
            span {
                text-decoration: underline;
            }
        }
        .fa {
            margin-right: 6px;
        }
        span {
            color: $success-color;
        }
    }
}

.ctext {
    p {
        font-size: 14px;
        line-height: 1.73em;
        margin-bottom: 0.8em;
        @extend %last;
    }
}

.list-menu {
    padding: 0;
    li {
        a {
            line-height: 45px;
            padding: 0 1rem;
            display: block;
            font-size: 14px;
            &:hover {
                background: $active-color;
                color: #fff;
            }
            i {
                margin-right: 10px;
            }
        }
    }
}

@media #{$large-up} {
    .right-for-large-only {
        float: right !important;
    }
}
