.filter {
    background: #fff;
    margin-bottom: rem-calc(30px);
    transform: translate(-280px, 0);
    transition: all 300ms ease;
    z-index: 2;
    width: 280px;
    overflow: auto;
    position: fixed;
    left: 0;
    height: 100%;
    top: $header-height;
    &.active {
        transform: translate(0, 0);
    }
    @media #{$large-up} {
        top: 0;
        position: static;
        transform: none;
        width: 100%;
    }
    &-heading {
        background: #d9d9d9;
        padding: 0 20px;
        line-height: rem-calc(60px);
        a {
            font-size: 14px;
            color: $secondary-color;
            float: right;
            &:hover {
                text-decoration: underline;
            }
        }
        h5 {
           @extend %inline-middle;
            margin-bottom: 0;
        }
    }
    &-inner {
        padding: 0px 20px 30px;
        h5 {
            color: $active-color;
            margin-top: rem-calc(36px);
            margin-bottom: rem-calc(18px);
            &:first-child {
                margin-top: rem-calc(30px);
            }
        }
    }
    &-field {
        margin-bottom: 12px;
    }
    &-toggle {
        width: 30px;
        height: 30px;
        text-align: center;
        background: $success-color;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        margin-right: 14px;
        position: relative;
        color: #fff;
        &:hover {
            color: #fff;
            span {
                text-decoration: underline;
            }
        }
        span {
            position: absolute;
            left: 100%;
            margin-left: 10px;
            color: $primary-color;
            font-size: 18px;
        }
        i {
            font-size: 20px;
            margin: 0;
            line-height: 30px;
        }
        @media #{$large-up} {
            display: none;
        }
    }
}
