html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background: url(../files/img/cell.png) #f0f0f0;
}

.overlay {
    background: rgba(0,0,0,0.7);
    z-index: 11;
    @extend %full;
    top: -70px;
    transition: 300ms all ease-out;
}


main.content {
    @extend %clear;
    margin-top: $header-height;
    &:not(.index) {
        padding-top: rem-calc(30px);
        background: #f0f0f0;
    }
    aside.sidebar {
        float: left;
        width: 302px;
        display: none;

        @media #{$large-up} {
            display: block;
        }
    }
    section.catalog {
        @media #{$large-up} {
            margin-left: 318px;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.full {
    @extend .row;
    max-width: none;
    padding: 0;
    .column {
        padding: 0;
    }
}

.breadcrumbs {
    margin-bottom: 9px;
    li {
        text-transform: none;

        a {
            color: $light-gray;
        }
        span {
            color: $white;
        }
    }
    li:not(:last-child):after {
        content: "/";
        font: normal normal normal 14px/1 FontAwesome;
        color: $light-gray;
        margin: 0 4px;
    }
}

.reveal {
    padding-top: 25px;
    padding-bottom: 25px;

    border-color: transparent;
    outline-color: transparent;
    h2, p {
        color: #4c4c4c;

    }
    h2 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 1.35em;
        text-transform: uppercase;
    }
    p {
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
    }
    table {
        td {
            text-align: center;
        }
    }
    .button {
        margin-bottom: 15px;
        min-width: auto;
        @media #{$medium-up} {
            margin-bottom: 0;
        }
    }
    .reveal-actions {
        margin-top: 47px;
    }
    &.xsmall {
        @media #{$medium-up} {
            width: 360px;
        }
    }
    &-close {
        position: absolute;
        top: 5px;
        right: 5px;
        color: $success-color;
        .fa {
            font-size: 16px;
        }
    }
}


.page {
    &-heading {
        padding-top: 17px;
        padding-bottom: 14px;
        background: url(../files/img/pattern-1.png) $success-color;
    }
    &-title {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
    }
}

