.navigation {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    padding-left: $gutter-medium-full;
    padding-top: rem-calc(40px);
    transform: translateX(-100%);
    transition: 300ms transform ease;
    z-index: 12;
    width: 100%;
    @media #{$large-up} {
        background-color: rgba(0, 0, 0, 0.9);
        padding-left: rem-calc(60px);
        width: 341px;
    }
    &.active {
        transform: translateX(0);

        .navigation-close {
            display: block;
        }
    }

    h6 {
        color: $lighter-gray;
        font-size: 1rem;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: rem-calc(40px);
    }
    ul {
        margin-bottom: 22px;
        li {
            margin-bottom: 18px;
            a {
                display: block;
                font-weight: 900;
                color: $white;
                @extend h4;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    &-inner {
        overflow: auto;
        max-height: 100vh;
    }
    &-contacts {
        color: $white;
        font-size: rem-calc(14px);
        @extend %inline-middle;
        margin-right: 22px;
        @extend %inline-middle;
        @media #{$max-large} {
            display: none;
        }
    }
    &-close {
        position: absolute;
        top: 34px;
        right: $gutter-medium-full;
        display: none;
        animation-name: rotation;
        animation-duration: 0.6s;
        &.animate {
            animation-name: rotation-rev;
            animation-duration: 0.3s;
        }
        @media #{$large-up} {
            left: 100%;
            right: auto;
            margin-left: 20px;
        }
    }
    &-icons {
        font-size: 26px;
        @media #{$large-up} {
            display: inline-block;
            vertical-align: middle;
        }
        i {
            color: $white;
        }
        a {
            margin: 0 6px;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    &-responsive {
        display: none;
        &, a, i, p {
            color: $white;
        }
        .navigation-icons {
            margin-bottom: 20px;
        }
        p {
            font-size: 14px;
            margin-bottom: 5px;
        }
        @media #{$max-large} {
            display: block;
        }
    }
}
