.product {
    &-list {
        padding-top: rem-calc(20px);
        .product-item {
            margin-bottom: rem-calc(40px);
        }
    }
    &-item {
        text-align: center;
        &-body {
            background: #fff;
            padding: rem-calc(25px) 0;
        }
        &-inner {
            display: inline-block;
        }
    }
}
