.tabs
    ul.tabs-header(data-tabs, id='tabs')
        li.tabs-title.active
            a(href='#',data-tabId='1') Описание
        li.tabs-title
            a(href='#',data-tabId='2') Видео о товаре
        li.tabs-title
            a(href='#',data-tabId='3') доставка и оплата
    .tabs-content.column(data-tabs-content="tabs")
        .tabs-panel(data-tab='3')
            .ctext
                p Доставка и оплата
        .tabs-panel(data-tab='2')
            .ctext
                p Видео о товаре
        .tabs-panel(data-tab='1')
            .row.ctext
                .large-6.column
                    p
                        | Вже давно відомо, що читабельний  зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей більш-менш нормальне розподілення. Вже давно відомо, що читабельний  зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей більш-менш нормальне розподілення.
                    p
                        | Яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей більш-менш нормальне розподілення.
                .large-6.column
                    p Що цей більш-менш нормальне розподілення. Вже давно відомо, що читабельний  зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.

