.detail-left.large-6.column
    .detail-slider
        .detail-slider-main
            .catalog-item-label.usual
                span распродажа
            .detail-slider-for
                div
                    img(src='http://placehold.it/475x550/ffffff/000000?text=2')
                div
                    img(src='http://placehold.it/475x550/ffffff/000000?text=3')
                div
                    img(src='http://placehold.it/475x550/ffffff/000000?text=4')
                div
                    img(src='http://placehold.it/475x550/ffffff/000000?text=5')
        .detail-slider-nav
            div
                .slider-img
                    img(src='http://placehold.it/115x130/ffffff/000000?text=2')
            div
                .slider-img
                    img(src='http://placehold.it/115x130/ffffff/000000?text=3')
            div
                .slider-img
                    img(src='http://placehold.it/115x130/ffffff/000000?text=4')
            div
                .slider-img
                    img(src='http://placehold.it/115x130/ffffff/000000?text=5')
