.detail-main.large-6.column
    h3 Кардиган трикотажный <br>
        | Синий на пуговицах
    p Код товара: 17398643
    .detail-price
        span 650 грн.
        span.old 750 грн.
    .detail-variable.row
        .large-6.column
            h6 Цвет
            .detail-color
                .detail-color-item
                    a(href="#",data-color="000")
                        img(src='http://placehold.it/80x80/ffffff/000000')
                        span(style="background-color:#000")
                .detail-color-item
                    a(href="#",data-color="b8b8b8")
                        img(src='http://placehold.it/80x80/ffffff/000000')
                        span(style="background-color:#b8b8b8")
                .detail-color-item
                    a(href="#",data-color="2e316e")
                        img(src='http://placehold.it/80x80/ffffff/000000')
                        span(style="background-color:#2e316e")
                .detail-color-item
                    a(href="#",data-color="fff")
                        img(src='http://placehold.it/80x80/ffffff/000000')
                        span(style="background-color:#fff")
            h6 Размер
            .detail-size
                a.detail-size-item(href="#",data-size="1")
                    | 130
                a.detail-size-item(href="#",data-size="2")
                    | 134
                a.detail-size-item(href="#",data-size="3")
                    | 140
                a.detail-size-item(href="#",data-size="4")
                    | 146
                a.detail-size-item(href="#",data-size="5")
                    | 128
                a.detail-size-item(href="#",data-size="6")
                    | 134
                a.detail-size-item(href="#",data-size="7")
                    | 140
                a.detail-size-item(href="#",data-size="8")
                    | 146
                a.detail-size-item(href="#",data-size="9")
                    | 146
            .form
                h6 Количество
                input(type='number',id='size',min='1')
        .large-6.column
            .detail-description
                h6 краткое описание
                p
                    | Вже давно відомо, що читабельний
                    | зміст буде заважати зосередитись
                    | людині, яка оцінює композицію
                    | сторінки.
                p Состав:
                ul
                    li хлопок 40%
                    li вискоза 40%
                    li акрил 20%
    .detail-actions.form
        .row
            .detail-actions-basket.large-6.column
                a.button.block(href='#')
                    | добавить в корзину

            .detail-actions-form.large-6.column
                h6 быстрый Заказ в 1 клик
                .form
                    input.button.secondary(type='submit',value='ЗАКАЗАТЬ')
                    input(type='text',placeholder='Введите Ваш номер ')
                p Введите номер телефона для заказа в 1 клик
