.filter(id="filter")
    .filter-heading
        a Сбросить все
        h5 фильтра
    .filter-inner
        .filter-item
            h5 категории
            .filter-field.checkbox-group
                input#checkbox1(type='checkbox')
                label.checkbox(for='checkbox1')
                    span.box
                        i.fa.fa-check
                    | Пиджаки и куртки
            .filter-field.checkbox-group
                input#checkbox2(type='checkbox')
                label.checkbox(for='checkbox2')
                    span.box
                        i.fa.fa-check
                    | Брюки и шорты
            .filter-field.checkbox-group
                input#checkbox3(type='checkbox')
                label.checkbox(for='checkbox3')
                    span.box
                        i.fa.fa-check
                    | Свитера
            .filter-field.checkbox-group
                input#checkbox4(type='checkbox')
                label.checkbox(for='checkbox4')
                    span.box
                        i.fa.fa-check
                    | Рубашки
            .filter-field.checkbox-group
                input#checkbox5(type='checkbox')
                label.checkbox(for='checkbox5')
                    span.box
                        i.fa.fa-check
                    | Футболки и майки
            .filter-field.checkbox-group
                input#checkbox6(type='checkbox')
                label.checkbox(for='checkbox6')
                    span.box
                        i.fa.fa-check
                    | Платья и юбки
            .filter-field.checkbox-group
                input#checkbox7(type='checkbox')
                label.checkbox(for='checkbox7')
                    span.box
                        i.fa.fa-check
                    | Школьная форма
            h5 пол
            .filter-field.checkbox-group
                input#checkbox8(type='checkbox')
                label.checkbox(for='checkbox8')
                    span.box
                        i.fa.fa-check
                    | Детский
            .filter-field.checkbox-group
                input#checkbox9(type='checkbox')
                label.checkbox(for='checkbox9')
                    span.box
                        i.fa.fa-check
                    | Взрослый
            h5 цвет
            .filter-field.checkbox-group
                input#checkbox10(type='checkbox')
                label.checkbox(for='checkbox10')
                    span.box(style='background-color: #000')
                        i.fa.fa-check(style='color: #fff')
                    | Черный
            .filter-field.checkbox-group
                input#checkbox11(type='checkbox')
                label.checkbox(for='checkbox11')
                    span.box(style='background-color: #2758b3')
                        i.fa.fa-check(style='color: #fff')
                    | Синий
            .filter-field.checkbox-group
                input#checkbox12(type='checkbox')
                label.checkbox(for='checkbox12')
                    span.box(style='background-color: #ааа')
                        i.fa.fa-check
                    | Белый
            .filter-field.checkbox-group
                input#checkbox13(type='checkbox')
                label.checkbox(for='checkbox13')
                    span.box(style='background-color: #4ddaef')
                        i.fa.fa-check
                    | Синий электрик
            .filter-field.checkbox-group
                input#checkbox14(type='checkbox')
                label.checkbox(for='checkbox14')
                    span.box(style='background-color: #739eee')
                        i.fa.fa-check
                    | Голубой
            .filter-field.checkbox-group
                input#checkbox15(type='checkbox')
                label.checkbox(for='checkbox15')
                    span.box(style='background-color: #999999')
                        i.fa.fa-check(style='color: #fff')
                    | Серый
            h5 Размер
            .row
                .small-6.column
                    .filter-field.checkbox-group
                        input#checkbox16(type='checkbox')
                        label.checkbox(for='checkbox16')
                            span.box
                                i.fa.fa-check
                            | 116
                    .filter-field.checkbox-group
                        input#checkbox17(type='checkbox')
                        label.checkbox(for='checkbox17')
                            span.box
                                i.fa.fa-check
                            | 128
                    .filter-field.checkbox-group
                        input#checkbox18(type='checkbox')
                        label.checkbox(for='checkbox18')
                            span.box
                                i.fa.fa-check
                            | 134
                    .filter-field.checkbox-group
                        input#checkbox19(type='checkbox')
                        label.checkbox(for='checkbox19')
                            span.box
                                i.fa.fa-check
                            | 140
                .small-6.column
                    .filter-field.checkbox-group
                        input#checkbox20(type='checkbox')
                        label.checkbox(for='checkbox20')
                            span.box
                                i.fa.fa-check
                            | 152
                    .filter-field.checkbox-group
                        input#checkbox21(type='checkbox')
                        label.checkbox(for='checkbox21')
                            span.box
                                i.fa.fa-check
                            | 158
                    .filter-field.checkbox-group
                        input#checkbox22(type='checkbox')
                        label.checkbox(for='checkbox22')
                            span.box
                                i.fa.fa-check
                            | 164
                    .filter-field.checkbox-group
                        input#checkbox23(type='checkbox')
                        label.checkbox(for='checkbox23')
                            span.box
                                i.fa.fa-check
                            | 170





