.footer_placeholder
footer.footer
    .footer-main
        .row
            .large-6.column
                .row
                    .footer-column.medium-4.column
                        h6 Каталог
                        ul
                            li
                                a Школьная форма
                            li
                                a Пиджаки и куртки
                            li
                                a Брюки и шорты
                            li
                                a Свитера
                            li
                                a Рубашки
                            li
                                a Футболки и майки
                            li
                                a Платья и юбки
                    .footer-column.medium-4.column
                        h6 Информация
                        ul
                            li
                                a Статьи
                            li
                                a Контакты
                            li
                                a О нас
                    .footer-column.medium-4.column
                        h6 Контакты
                        p
                            | +38 (044) 279-62-26
                            | info@2x2.tm
                            | Киев, ул. Лютеранская, 11А
                        .footer-icons
                            a
                                i.fa.fa-facebook
                            a
                                i.fa.fa-instagram
                            a
                                i.fa.fa-vk
                .footer-form.row.column
                    h6 ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК
                    .footer-field.form
                        input(type='text',placeholder='Введите Ваш номер ')
                        input.button(type='submit', value='Заказать')
            .large-6.column
                .footer-socials
                    img(src='files/img/social_temp.png')
    .footer-copyright.row
        .large-6.column
            p Все права защищены © 2 x 2, 2015 - 2016
        .large-6.column
            p.text-right
                a MassMedia Group
                | - Создание и поддержка сайта
        .footer-logo.column.text-center
            a
                img(src='files/img/logo-big.png')
    script(src="js/jquery.min.js")
    script(src="js/script.js")
    script(src="js/slick.min.js")
