head
	title a.nuzhin | 2plus2
	meta(charset='utf-8')
	meta(name='author', content='a.nuzhin')
	meta(name='description', content='layout for 2plus2')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	base(href='./assets/')
	link(href='css/style.css', rel='stylesheet', type='text/css')
	link(href='css/slick.css', rel='stylesheet', type='text/css')

