header.header
    .header-contacts.large-5.column
        a.menu-toggle
            i.icon.icon-bars
        p +38 (044) 279-62-26, Киев, ул. Лютеранская, 11 А
    .header-logo.large-2.column.text-center
        a(href='/')
            img(src='files/img/logo.png', alt='')
    .header-menu.large-5.column
        ul
            li
                .header-search
                    i.fa.fa-search
                    input(placeholder='Поиск')
            li
                a.underline(data-toggle="account")
                    span Личный кабинет
                ul#account.dropdown-pane.dropdown-menu(data-dropdown)
                    li
                        a(href='#') войти
                    li
                        a(href='#') Мои данные
                    li
                        a(href='#') сменить пароль
                    li
                        a(href='#') Заказы

            li
                a.basket-label(data-toggle="drop-basket",data-options="align:right")
                    i.icon.icon-bag
                    span 12
                div#drop-basket.dropdown-pane.dropdown-basket(data-dropdown)
                    p
                        | в корзине 12 товаров <br>
                        | на сумму 1 115 грн.
                    a.button.block(href='#')
                        | оформить заказ
                    a.button.white.block(href='#')
                        span перейти в корзину
    .header-icons
        a(data-open='accountModal')
            i.fa.fa-user-circle
        a(data-open='basketModal')
            i.fa.fa-shopping-basket
nav.navigation
    .navigation-inner
        a.navigation-close
            i.icon.icon-close
        h6 МЕНЮ
        ul
            li
                a(href='#') Школьная форма
            li
                a(href='#') Пиджаки и куртки
            li
                a(href='#') Брюки и шорты
            li
                a(href='#') Свитера
            li
                a(href='#') Рубашки
            li
                a(href='#') Футболки и майки
            li
                a(href='#') Платья и юбки
            li
                a(href='#') Статьи
            li
                a(href='#') Доставка
            li
                a(href='#') Оплата
            li
                a(href='#') Контакти

        .navigation-responsive
            .navigation-icons
                a(data-open='searchModal')
                    i.fa.fa-search
            p
                | +38 (044) 279-62-26, Киев, <br> ул. Лютеранская, 11 А
        p.navigation-contacts +38 (044) 279 62 26
        .navigation-icons
            a(href='#')
                i.fa.fa-facebook
            a(href='#')
                i.fa.fa-instagram
            a(href='#')
                i.fa.fa-vk


        #searchModal.reveal.xsmall(data-reveal='',data-options="showDelay:300; hideDelay:300")
            a.reveal-close(aria-label='Close', data-close)
                i.fa.fa-close
            h2.text-center Поиск
            .form
                input(type="text", placeholder='Например: Школьная форма' required="required")
                button.button.block.accented
                    i.fa.fa-search
        #accountModal.reveal.xsmall(data-reveal='',data-options="showDelay:300; hideDelay:300")
            a.reveal-close(aria-label='Close', data-close)
                i.fa.fa-close
            h2.text-center Личный кабинет
            ul.list-menu
                li
                    a(href='#')
                        i.fa.fa-angle-right
                        | Войти
                li
                    a(href='#')
                        i.fa.fa-angle-right
                        | Мои данные
                li
                    a(href='#')
                        i.fa.fa-angle-right
                        | Сменить пароль
                li
                    a(href='#')
                        i.fa.fa-angle-right
                        | Заказы
        #basketModal.reveal.xsmall(data-reveal='',data-options="showDelay:300; hideDelay:300")
            a.reveal-close(aria-label='Close', data-close)
                i.fa.fa-close
            h2.text-center Корзина
            p
                | в корзине 12 товаров <br>
                | на сумму 1 115 грн.
            a.button.block(href='#')
                | оформить заказ
            a.button.white.block(href='#')
                span перейти в корзину
