h3.text-center Вы недавно просматривали
.latest-slider
    include _catalog_item.pug
    +catalog-item('files/img/catalog-1.png','Кардиган трикотажный','Синий на пуговицах', '750 грн.', 'usual', 'распродажа')
    +catalog-item('files/img/catalog-1.png','Бомбер','На мальчика')
    +catalog-item('files/img/catalog-1.png','Кардиган трикотажный','Синий на пуговицах', '750 грн.', 'warning', 'Новинка')
    +catalog-item('files/img/catalog-1.png','Кардиган трикотажный','Синий на пуговицах', '750 грн.')
    +catalog-item('files/img/catalog-1.png','Бомбер','На мальчика')
    +catalog-item('files/img/catalog-1.png','Бомбер','На мальчика')
