.account-content.recover(id="recover")
    form.form
        .form-area
            .row
                .large-4.column
                    label
                        | Старый пароль
                        em *
                        input(type="text", placeholder="Введіть старий пароль", required="required")
            .row
                .large-4.column
                    label
                        | Новый пароль
                        em *
                        input(type="text", placeholder="Введіть новий пароль", required="required")
            .row
                .large-4.column
                    label
                        | Повторите новый пароль
                        em *
                        input(type="text", placeholder="Введіть новий пароль", required="required")


        .account-content-footer
            input.button.wide(type="submit", value="сохранить")
