.preview
    .preview-top.full.large-collapse
        .large-6.column
            img(src="files/img/collection-1.png")
        .large-6.column
            img(src="files/img/collection-2.png")
    .preview-main(style="background-image: url(files/img/preview-1.png)")

