mixin product-item(image,title)
    .product-item.medium-4.column
        .product-item-inner
            .product-item-img
                a
                    img(src=image)
            .product-item-body
                a.button.hollow.large=title
